<nav>
    <ul>
        <li><a href="#" target="_blank">page 1</a></li>
        <li><a href="#" target="_blank">page 2</a></li>
        <li><a href="#" target="_blank">page 3</a></li>
    </ul>
</nav>
