:root {
  --font-size: 15pt;
  --line-height: 21pt;
  --font-size-side-note: 13pt;
  --font-size-small: 13pt;
  --line-height-small: 15.5pt;
  --font-size-audio-numbers: 10pt;
  --line-height-audio-numbers: 12.5pt;
  --scrubber-color: rgb(238, 41, 15);  
  --scrubber-color-active: rgb(22, 122, 216);
  --note-color: #444;
  --highlight-color: #feffe0;
  --audio-color: #ffdc68b0;
  --audio-seeking-color: #ddcc94b0;
  --background-color: #f5f8ff;
  --background-color: hsl(0, 0%, 97%);
  --label-color: rgba(255,255,255,.6);
  --inline-bookmark-color:#7FB2D0;
  --color--introduction: #444;
  /* --inline-bookmark-color: #c4b26f; */
}

@media screen and (max-width: 1440px) {
  :root {
    --font-size: 13.5pt;
    --line-height: 20pt;
    --font-size-small: 11.5pt;
    --font-size-audio-numbers: 9pt;
    --line-height-audio-numbers: 11pt;
  }
}

.color--site {
  --highlight-color: #f5f8ff;
}

@font-face {
  font-family: 'News Cycle';
  src: url("../fonts/news-cycle/newscycle-regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'News Cycle';
  src: url("../fonts/news-cycle/newscycle-bold.ttf") format('truetype');
  font-style: normal;
  font-weight: 700;
}

body {
  overflow: hidden;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: 'News Cycle';
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-bottom: calc(.5 * var(--line-height));
}

h1 {
  --font-size: 55pt;
  --line-height: 55pt;
  font-weight: bold;
  margin-bottom: calc(.5 * var(--font-size));
  -webkit-text-stroke: 1.25px black;
  -webkit-text-fill-color: white;
  letter-spacing: 2px;
}

h2 {
  --font-size: 28pt;
  --line-height: 28pt;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
  letter-spacing: 1.5px;
}

h3 {
  --font-size: 22.5pt;
  --line-height: 22.5pt;
  font-weight: bold;
  -webkit-text-stroke: .9px black;
  -webkit-text-fill-color: white;
  letter-spacing: 1.5px;
}

h4 {
  --font-size: 18pt;
  --line-height: 18pt;
  font-weight: bold;
  -webkit-text-stroke: .9px black;
  -webkit-text-fill-color: white;
  letter-spacing: 1.5px;
}

h5 {
  font-weight: bold;
  -webkit-text-stroke: .5px black;
  -webkit-text-fill-color: white;
  letter-spacing: 1px;
  margin-bottom: calc(.5 * var(--line-height));
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

strong {
  font-weight: bold;
}

.list-item--link {
  color: black;
  text-decoration: none;
}

.list-item--link:hover {
  text-decoration: underline;
}

.list--title {
  margin-bottom: .25em;
}

.list--simple .list-item {
  margin: 0 0 .25em 0;
  min-width: 200px;
  flex: 1 1 50%;
}

.list--simple:hover {
  background-color: var(--highlight-color);
}

.list.list--simple {
	border-bottom: 2px solid black;
  padding: .5em 1em 1em 1em;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.list--simple .list--title {
  flex: 0 0 100%;
}

.list.list--simple:last-child {
  border-bottom: none;
}

.audio-length,
.item--meta {
  font-size: .75em;
  line-height: 1.3;
  white-space: nowrap;
  display: block;
}

h1 .audio-length,
h1 .item--meta,
h2 .audio-length,
h2 .item--meta {
  font-size: .6em;
}

.article h1 {
  margin-top: calc(3 * var(--line-height));
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

.article h3 {
  margin-bottom: calc(.5 * var(--line-height));
}

.article--meta {
  margin-bottom: 50pt;
  max-width: 80%;
}

.article a {
  color: black;
}

.article .text {
  padding-bottom: calc(4 * var(--line-height));
  padding-right: 1em;
}

h2 {
  font-weight: bold;
}

.panel--cover h3 {
  --font-size: 40pt;
  --line-height: 40pt;
  -webkit-text-stroke: 1.25px black;
  text-align: right;
  margin: var(--line-height);
}


.panel {
  position: relative;
  flex: 1 0;
  overflow-y: auto;
  padding: 0;
  outline: 2px solid black;
  background-color: white;
  background-position: center;
  background-size: cover;
}

.main--panel--cover,
.panel--main {
  min-width: 575px;
  flex: 1.5 0;
  background: var(--background-color);
}

.panel--illustration {
  max-width: 20vw;
}

.panel--title {
  max-width: calc(20vw - 2em);
  min-width: 250px;
  padding: 1em
}

.title--inline {
  display: none;
}

@media screen and (max-width: 1440px) {
  .panel--illustration {
    max-width: 15vw;
  }

  h1 {
    --font-size: 40pt;
    --line-height: 36pt;
    letter-spacing: 1.5px;
  }
  
  .panel--cover h3 {
    --font-size: 35pt;
    --line-height: 35pt;
  }

  h3 {
    --font-size: 20pt;
    --line-height: 18pt;
    letter-spacing: 1px;
    -webkit-text-stroke: .75px black;
  }
  
  .list-item--cover p {
    margin-left: 18pt;
  }
  
  h5 {
    --font-size: 16pt;
    --line-height: 18pt;
  }

  .main--panel--cover {
    min-width: 600px;
  }

  .article h1 {
    position: relative;
  }
}

.list--container {
  display: flex;
  flex-direction: column;
}

.list {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  position: relative;
}

.article {
  background-color: var(--background-color);
}

.item:hover,
.panel:hover {
  /* --label-color: var(--highlight-color); */
}

.item--link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-decoration: none;
  padding: 1em;
}

.list--label {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  width: 22pt;
  writing-mode: tb;
  font-size: var(--font-size-small);
  text-align: center;
  transform: rotate(180deg);
  outline: 2px solid black;
  font-weight: bold;
  line-height: 20pt;
  background: var(--label-color);
}


section.side--navbar {
  flex: 0 0 22pt;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  writing-mode: tb;
  text-align: center;
  transform: rotate(180deg);
  font-size: var(--font-size-small);
  outline: 2px solid black;
  background-color: white;
  font-weight: bold;
  line-height: 20pt;
  /*! letter-spacing: .5px; */
}

.side--navbar:first-of-type {
  flex: 0 0 28pt;
}

.side--navbar:first-of-type a {
  line-height: 22pt;
}

.side--navbar:first-of-type .title-label--main {
  font-size: 15pt;
  line-height: 26pt;
}

section.side--navbar:hover {
  background-color: var(--highlight-color);
}

section.side--navbar * {
  padding: 1em 0;
}

section.side--navbar a {
  color: black;
  text-decoration: none;
  display: block;
}

section.side--navbar .title-label--main {
  flex: 1 0;
}

.item--description {
  padding: 15pt 20pt 30pt 20pt;
  max-width: 38em;
  /*! margin: auto; */
}

.panel--left,
.panel--interview {
  background-color: var(--background-color);
}

audio.hidden {
  display: none;
}

.audio-player {
  min-width: 140px;
}

section.side--audio-player {
  flex: 0 0 60px;
  position: relative;
  overflow: initial;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-size: var(--font-size-audio-numbers);
  line-height: var(--line-height-audio-numbers);
  font-weight: bold;
}

[data-role="player--controls"] {
  position: absolute;
  top: 0;
  /* line-height: 35pt; */
  left: 0;
  right: 0;
  border-bottom: 2px solid black;
  z-index: 10;
  height: calc(var(--line-height) * 1.25);
}

[data-role="player--controls"] button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  border: 0;
  width: 100%;
  padding: 0 .5em;
  text-align: left;
  color: black;
}

[data-role="play--pause"]:hover {
  background-color: var(--highlight-color);
  /* background-color: var(--highlight-color); */
}

[data-role="play--pause"]::before {
	display: block;
	content: 'play recording';
	font-weight: bold;
	background-image: url('../svg/play.svg');
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 1.75em;
}

[data-playing="true"] [data-role="play--pause"]:before {
  content: 'pause recording';
	background-image: url('../svg/pause.svg');
}

[data-seeking="true"] [data-role="play--pause"]:before {
  content: 'seeking';
	background-image: url('../svg/refresh-cw.svg');
}

.article--audiolength {
  position: relative;
}

.article--audiolength [data-role="play--pause--article"] {
  position: absolute;
  right: calc(100% + .25em);
  border: none;
  background: none;
	background-image: url('../svg/play-thin.svg');
	background-repeat: no-repeat;
  background-size: contain;
  top: 2px;
  bottom: -5px;
  width: 3em;
}

[data-playing="true"] .article--audiolength [data-role="play--pause--article"] {
	background-image: url('../svg/pause-thin.svg');
}

[data-seeking="true"] .article--audiolength [data-role="play--pause--article"] {
	background-image: url('../svg/refresh-cw-thin.svg');
}

.article--audiolength [data-role="play--pause--article"]:hover {
  transform: scale(120%);
}
.article--audiolength [data-role="play--pause--article"]:active {
	transform: scale(110%);
}

[data-role="track"] {
  position: absolute;
  top: calc(var(--line-height) * 1.25);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
}

[data-role="progress"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: var(--audio-color);
}

[data-seeking="true"][data-role="progress"] {
  background-color: var(--audio-seeking-color);
}

[data-role="scrubber"] {
  position: absolute;
  bottom: -15px;
  padding: 10px 0;
  /* background-clip: content-box; */
  left: 0;
  right: 0;
  height: 6px;
  /* background-color: var(--scrubber-color); */
  background: linear-gradient(to bottom, transparent 10px, black 10px, black 12px, var(--scrubber-color) 12px, var(--scrubber-color) 14px, black 14px, black 16px, transparent 16px);
  cursor: ns-resize;
  z-index: 1;
}

[data-role="scrubber"]:hover {
  --scrubber-color: var(--scrubber-color-active);
}

.track--bookmark {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dotted black;
  cursor: pointer;
  padding: .25em .5em;
  letter-spacing: .5px;
}

@media screen and (max-width: 1680px) {
  .audio-player {
    min-width: 115px;
  }

  [data-role="play--pause"]:before {
    content: 'play audio';
  }

  [data-playing="true"] [data-role="play--pause"]:before {
    content: 'pause audio';
  }
}

@media screen and (min-width: 601px) {
  .track--bookmark.inline {
    border-top: none;
  }
}

.track--bookmark:hover {
  text-decoration: underline;
}

.track--bookmark--timecode {
  margin-right: .25em;
  /*font-family: 'News Cycle'*/
}

.audioMarkers {
  display: none;
}

.scrubber--label,
.time-marker {
  position: absolute;
}

.time-marker {
  left: .5em;
}

.scrubber--label {
  left: calc(100% + 2px);
  top: -7px;
  padding: 10px 15px 10px 10px;
  background: var(--background-color);
}

.time-marker--start {
  top: .15em;
  display: none
}

.time-marker--end {
  bottom: .15em;
}

[data-role="scrubber"][data-scrubbing="true"] .scrubber--label {
  display: block;
}

[data-role="current-time"], [data-role="duration"] {
  display: none;
}

.text {
  max-width: 36em;
  margin: auto;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.introduction, #flex-right h3, #flex-right h2, .quote {
  font-family: news cycle;
}

.introduction {
  font-weight: bold;
  color: var(--color--introduction);
}

.credits {
  font-size: 70%;
}

.quote, blockquote {
	margin: var(--line-height) 4em 0 1.5em;
	padding: 0;
  display: block;
  font-weight: bold;
  color: var(--color--introduction);
}

blockquote .credit {
  font-size: 75%;
  margin-top: calc(-.5 * var(--line-height));
}

p + p,
.sidenote-right + p {
  margin-top: var(--line-height);
}

.label--voice {
  position: absolute;
  right: calc(100% + 1em);
  margin: 0;
  font-size: var(--font-size-small);
  color: #5e5e5e;
  white-space: nowrap;
  padding-top: calc(.5 * (var(--font-size) - var(--font-size-small)));
  letter-spacing: .5px;
}

.inline-footnote,
figure {
  position: relative;
  float: right;
  clear: right;
  right: 0;
  margin-left: 1.5em;
  padding-left: 1.5em;
  margin-right: -150px;
  padding-right: 2em;
  width: 300px;
  margin-top: calc(var(--line-height) - var(--line-height-small));
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: normal;
  color: var(--note-color);
  margin-bottom: var(--line-height-small);
  z-index: 1;
}

.inline-footnote {
  background: var(--background-color);
}

.inline-footnote p:last-child {
  margin-bottom: 0;
}

.inline-footnote .lightbox--close {
  display: none;
}

cite {
  font-size: .8em;
}

figure img {
  max-width: calc(100% + 2em);
  margin-bottom: 10px;
}

figure.side-by-side {
  float: none;
  display: inline-block;
  vertical-align: top;
	max-width: calc(45% - 1em);
	width: initial;
	margin-left: 0px;
	margin-bottom: var(--line-height);
  margin-top: var(--line-height);
  margin-right: 1em;
  padding-right: 0;
}

figure.side-by-side img {
  max-width: 100%;
}

figure.large {
	float: none;
  max-width: 100%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0;
	margin-bottom: var(--line-height);
	margin-top: var(--line-height);
}

figure.large img {
	max-width: calc(100% + 300px);
	margin-bottom: 0;
	max-height: 95vh;
	display: block;
	margin-left: -100px;
	margin-bottom: var(--line-height-small);
}

.image-caption {
  position: absolute;
  bottom: .5em;
  left: .5em;
  font-size: 10pt;
  max-width: 25em;
  color: white;
  text-shadow: 0 0 1px black;
  letter-spacing: .25px;
}

/**
* Hide Footnote references etcetera.
*/
/* Too fancy:  sup[id^="fnref-"] */
.footnote-backref-sup {
  display: none;
}

div.footnote {
  display: none;
}

.footnote-backref {
  display: none;
}

.audiobookmark::before {
	position: absolute;
	left: 0;
	right: 0;
	border-top: 1px dotted black;
	display: block;
	content: '';
}

.audiobookmark {
  text-decoration: none;
  background-color: var(--background-color);
  font-size: var(--font-size-audio-numbers);  
  color: #5e5e5e;
  font-weight: bold;
  margin-top: calc(1em + var(--line-height));
  cursor: pointer;
}

.audiobookmark--background-wrapper {
  position: relative;
  font-size: 20pt;
  top: -.75em;
  margin-left: -1em;
  background: var(--background-color);
  padding: 0 1em;
}

.audiobookmark h4 {
	display: inline;
	/* font-family: monospace; */
	letter-spacing: 2px;
	text-transform: initial;
	color: black;
	text-transform: uppercase;
	text-align: left;
	-webkit-text-stroke: .75px black;
	-webkit-text-fill-color: white;
}

.audiobookmark.inline {
  font-size: inherit;
  background-color: transparent;
  font-weight: normal;
  border-bottom: 1px dotted;
}

.audiobookmark.inline .bookmark-timecode {
	margin: 0;
}

.bookmark-timecode:before {
	content: " (";
}

.bookmark-timecode::after {
	content: ")";
}

.audiobookmark.inline:before {
	display: none;
}


.list-item--cover  {
  outline: 2px solid black;
  padding: 0;
}

.list-item--cover {
	position: relative;
	flex: 1 0;
	background-color: white;
	background-position: center;
  background-size: cover;
  min-height: 175px;
}

.list-item--cover[data-cluster="credits"] {
  flex: 0 0 90px;
  min-height: 90px;
}

.list-item--cover .item--link,
.panel--cover .item--link {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.list-item--cover.cluster .item--link {
  justify-content: flex-start;
}

.keywords .list-item--cover {
  min-height: 100px;
}

.keywords .list-item--cover .item--link,
.keywords .panel--cover .item--link {
	justify-content: flex-start;
}

.item--link:hover {
  background: rgba(255,255,255,.3);
}

.keywords .item--link:hover {
  background: none;
}

.keywords .list-item--cover:hover {
  background: var(--highlight-color);
}

.panel--right {
  position: relative;
}

.panel--cover .item--link {
  align-items: end;
}

em {
	font-style: italic;
}

[data-lightbox-link] {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  transition: transform .3s ease-in-out;
}

[data-lightbox-link]:hover {
  transform: scale(1.025);
  transform-origin: center;
  transition: transform .2s ease-out;
}

.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.lightbox--figure {
  flex: 1 0;
  text-align: center;
  width: initial;
  max-width: initial;
  max-height: initial;
  padding: 0;
  margin: 0;
  z-index: initial;
  float: none;
  clear: none;
}

.lightbox--figure img {
  /* Fix me !*/
	max-height: calc(100vh - 4em - 2 * var(--line-height));
	max-width: 100%;
}

.lightbox--caption {
  text-align: left;
}

.lightbox--close {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
  z-index: 1;
  color: var(--note-color);
  cursor: pointer;
}

.lightbox--close:hover,
.popup--close:hover {
  color: black;
}

.lightbox--close:before, 
.lightbox--close:after{
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 1.5px);
  content: ' ';
  background: currentColor;
}

.lightbox--close:before {
  transform: rotate(45deg);
}

.lightbox--close:after {
  transform: rotate(-45deg);
}


.home .side--navbar {
  order: -2;
}

.home .panel--cover[data-panel="1"] {
  order: -1;
}

.home .audio-length {
  display: block;
  font-size: 50%;
}
/* 
.chapter--lisa-nelson {
  --background-color: rgb(255,255,224);
} */

.list.list--grid {
	display: grid;
	grid-template-columns: [left] repeat(auto-fit, 200px) [right];
  max-width: 1100px;
  grid-row-gap: 1em;
  grid-column-gap: .75em;
  margin-left: 1em;
}

.list--grid .list-item {
  border: 2px solid black;
  height: 220px;
  display: flex;
  flex-direction: column;
}

.list--grid .list--title {
	grid-column: left / right;
	margin: 1.5em .25em 0 .25em;
  position: -webkit-sticky;
	position: sticky;
	top: .25em;
}

.list--grid .item--meta {
  white-space: normal;
}

.list--grid .list-item--link {
	display: block;
	background: white;
	border-bottom: 2px solid;
	padding: .3em .25em .75em .5em;
}

.list--grid .list-item--illustration {
	flex: 1 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.solid {
  -webkit-text-stroke: initial;
  -webkit-text-fill-color: initial;
  color: currentColor;
}

.humble {
  flex: 0 0 auto;
}

.panel--toggleable .lightbox--close {
  display: none;
}

@media screen and (max-width: 1400px) {
  .audiobookmark h4 {
    font-size: 17pt;
  }

  .track--bookmark {
    letter-spacing: .25px;
  }

  h2 {
    font-size: 22pt;
    line-height: 22pt;
    -webkit-text-stroke: 0.75px black;
  }

  h1 .audio-length, h1 .item--meta, h2 .audio-length, h2 .item--meta {
    font-size: .8em;
  }
}

.audiobookmark .bookmark-timecode {
	margin-right: .5em;
	font-size: .7em;
	vertical-align: baseline;
	margin-left: 1em;
}

p {
  position: relative;
  margin-bottom: var(--line-height);
}

@media screen and (max-width: 1200px) {
  .sidenote-right {
    width: 200px;
    margin-right: -100px;
  }

  .article .text {
    padding-bottom: calc(4 * var(--line-height));
    padding-right: 100px;
    max-width: 100%;
    padding-left: 3.5em;
  }
  
  p {
    margin-bottom: calc(1.5 * var(--line-height));
    margin-top: calc(1.5 * var(--line-height));
  }

  .label--voice {
    right: initial;
    left: 0;
    top: calc(-1 * var(--line-height));
  }

  .inline-footnote, figure {
    margin-left: .5em;
    padding-left: 1em;
    margin-right: -50px;
    padding-right: 1em;
    width: 200px;
  }
  
  figure.large {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: var(--line-height);
    margin-top: var(--line-height);
    padding-left: 0;
  }

  figure.large img {
    max-width: calc(100% + 2.5em);
    margin-bottom: 0;
    margin-left: -.5em;
  }

  figure figcaption {
    margin-top: 0;
  }

  figure figcaption p {
    margin-top: 0;
  }

  .panel--illustration,
  .panel--title {
    display: none;
  }

  .title--inline {
    display: block;
  }

  .panel--main {
    min-width: 500px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  body.home {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 28pt minmax(450px, 1.5fr) 1fr;
  }

  .main--panel--cover {
    min-width: 450px;
  }

  .home .side--navbar {
    grid-row-end: span 2;
  }

  .home .main--panel--cover {
    grid-row-end: span 2;
  }

  .home .panel--cover[data-panel="1"] {
    order: initial;
  }

  .panel--cover h3 {
    margin: calc(.25 * var(--line-height));
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow: auto;
    display: block;
    height: initial;
  }

  :root {
    --font-size: 13pt;
    --line-height: 17pt;
    --font-size-small: 11pt;
    --font-size-audio-numbers: 9pt;
    --line-height-audio-numbers: 11pt;
  }

  h1 {
    --font-size: 30pt;
    --line-height: 30pt;
    -webkit-text-stroke: .5px black;
    letter-spacing: 1px;
  }

  h2 {
    --font-size: 23pt;
    --line-height: 23pt;
    -webkit-text-stroke: .5px black;
    letter-spacing: 1px;
  }

  h3 {
    --font-size: 17pt;
    --line-height: 20pt;
    letter-spacing: .5px;
    -webkit-text-stroke: .5px black;
  }
  
  .audiobookmark h4 {
    --font-size: 13pt;
    --line-height: 17pt;
    letter-spacing: .5px;
    -webkit-text-stroke: .5px black;
  }

  .main--panel--cover {
    min-width: initial;
  }

  .article .text {
    padding-left: calc(1em + 25px);
    padding-right: 1.5em;
  }

  .article h1 {
    margin-top: var(--line-height);
  }
  
  .article--meta {
    margin-bottom: var(--line-height);
    max-width: 90%;
  }
  
  section.side--navbar * {
    padding: 3pt 5pt;
  }

  .side--navbar:first-of-type a {
    line-height: 11pt;
    font-size: 10pt;
  }

  section.side--navbar .title-label--main {
    line-height: 12pt;
  }

  .side--navbar:first-of-type .title-label--main {
    line-height: 12pt;
    font-size: 11pt;
  }


  [data-view][data-active] {
    display: block;
    position: relative;
  }

  .item--preview:before,
  .item--sublist:before {
    top: 0px;
    left: 0px;
    right: 0;
    width: initial;
    height: 19pt;
    writing-mode: initial;
    transform: initial;
  }

  .item--preview,
  .item--sublist {
    padding: var(--line-height) 15pt 15pt 15pt;
  }

  body > section {
    overflow-y: initial;
  }

  section.side--navbar {
    writing-mode: initial;
    display: flex;
    transform: initial;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    outline: none;
    border-bottom: 2px solid black;
    height: 19pt;
  }

  section.item--description {
    padding: calc(var(--line-height) - (19pt + 2px)) 15pt 15pt 15pt; 
  }
  
  .item--preview:after {
    content: ">";
    position: absolute;
    top: -3pt;
    font-weight: bold;
    font-size: var(--font-size-small);
  }

  .list-item--cover {
    min-height: 125px;
  }

  .panel--main {
    min-width: initial;
  }

  .list--simple .list-item {
    min-width: 100px;
  }

  .home .panel--cover {
    min-height: 25vh;
  }

  .panel--cover h3 {
    --font-size: 25pt;
    --line-height: 25pt;
    margin: 0;
  }

  .quote, blockquote {
    margin: var(--line-height) 2em 0 0
  }

  .list.list--grid {
    grid-template-columns: [left] 1fr 1fr [right];
    margin-right: 1em;
  }

  p:last-child {
    margin-bottom: 0;
  }
  
  section.item--description {
    padding: var(--line-height) 1em var(--line-height) 1em;
  }

  .inline-footnote, figure {
    margin-left: 0.25em;
    padding-left: .5em;
    margin-right: -.5em;
    padding-right: 0;
    width: 40vw;
    max-height: calc(6 * var(--line-height-small));
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .inline-footnote[data-expanded="true"] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--background-color);
    z-index: 2;
    overflow: auto;
    margin: 0;
    width: initial;
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding-left: 2em;
    padding-right: 3.5em;
    max-height: initial;
    padding-top: calc(2.5 * var(--line-height-small));
  }
  

  .inline-footnote .lightbox--close {
    display: initial;
  }

  .inline-footnote p:first-child {
    margin-top: 0;
  }

  .inline-footnote::after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: var(--line-height-small);
    content: '...read furter';
    background: linear-gradient(to bottom, transparent, var(--background-color) var(--line-height-small));
    padding-left: .5em;
    padding-top: var(--line-height-small);
  }

  .inline-footnote[data-expanded="true"]:after {
    display: none;
  }
  
  .inline-footnote p:last-child {
    margin-bottom: calc(3 * var(--line-height-small));
  }

  .scrubber--label {
    display: none;
  }

  [data-expanded] .scrubber--label {
    display: initial;
  }

  .inline-footnote .lightbox--close {
    top: 3em;
    right: 1.1em;
    position: fixed;
  }

  /* Hack where a zero height sticky element
     serves as an anchor for the other child elements */
  section.side--audio-player {
    width: 27px;
    display: inline-block;
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: calc(19pt + 2px);
    /* height: calc(100% - 22pt); */
    height: 0;
    z-index: 2;
    border-left: none;
  }


  [data-role="player--controls"] button {
    padding-left: .15em;
  }

  [data-role="play--pause"]::before {
    content: '';
    display: initial;
  }

  [data-playing="true"] [data-role="play--pause"]::before {
    content: '';
  }

/* 
  section.side--audio-player[data-expanded] {
    position: ab
    width: 100vw;
  } */

  section.audio-player {
    border-left: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100vh - (19pt + 2px));
    width: 25px;
    bottom: 0;
    z-index: 1;
    min-width: initial;
  }

  section.audio-player[data-expanded] {
    z-index: 2;
    width: 100vw;
  }

  [data-role="player--controls"],
  [data-role="track"] {
    max-width: 200px;
    border-right: 2px solid black;
  }

  .track--bookmark--timecode,
  .track--bookmark--label,
  .time-marker {
    display: none;
  }

  [data-expanded] .track--bookmark--timecode,
  [data-expanded] .track--bookmark--label,
  [data-expanded] .time-marker {
    display: initial;
  }

  .article--audiolength [data-role="play--pause--article"] {
    right: initial;
    width: 2em;
    height: 2em;
    position: relative;
    top: -.6em;
    margin-right: 0;
    padding-right: 0;
  }

  .track--bookmark::before {
    left: 0;
    right: 0;
    position: absolute;
    height: 1px;
    border-bottom: 1px dotted black;
    content: '';
    top: 1em;
  }

  .track--bookmark {
    position: absolute;
    left: 0;
    right: 0;
    border-top: none;
    padding: 1.25em .5em;
    letter-spacing: .5px;
    margin-top: -1.25em;
  }

  .panel--toggleable {
    position: relative;
    max-height: 65vh;
    overflow: hidden;
  }

  .panel--toggleable::after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: var(--line-height);
    content: '...click to read further';
    background: linear-gradient(to bottom, transparent, var(--background-color) calc(2 * var(--line-height)));
    padding-left: 1em;
    padding-top: calc(2 * var(--line-height));
    padding-bottom: .75em;
  }
  
  .panel--toggleable[data-expanded="true"] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--background-color);
    z-index: 2;
    overflow: auto;
    margin: 0;
    width: initial;
    font-size: var(--font-size);
    line-height: var(--line-height);
    max-height: initial;
    /* padding-top: calc(2.5 * var(--line-height-small)); */
    padding-top: calc(19pt + 2px);
  }

  .panel--toggleable[data-expanded="true"]:after {
    display: none;
  }
  
  .panel--toggleable .lightbox--close {
    display: block;
    top: calc(22pt + 2px + .5 * var(--line-height));
    right: 1.1em;
    position: fixed;
  }

  .side--audio-player + .panel.article {
    top: calc(-1 * var(--line-height));
  }
}
