{% extends "base.html" %}
{% block pageclass %}anthology--lisa-nelson{% endblock %}
{% block content %}
  <section class="side--navbar color--site">
    <a href="http://sarma.be/" class="title-label--left">sarma</a>
    <a href="{{ SITEURL }}/index.html" class="title-label--main">Conversations in Vermont</a>
    <a href="http://oralsite.be/" class="title-label--right">oralsite</a>
  </section>
  <section class="side--navbar color--sp">
    <a href="{{ SITEURL }}/lisa-nelson/lisa-nelson.html" class="title-label--main">Lisa Nelson</a>
  </section>
  <section class="panel panel--title" style="{% if page.color %}background-color:{{page.color}};{% endif %}{% if page.image %}background-image:url({{SITEURL}}/{{page.image}});{% if page.imageposition %}background-position:{{ page.imageposition }};{% endif %}{% endif %}">
    {% if page.supertitle %}
      <h3>{{ page.supertitle }}</h3>
      {% endif %}
      <h1>
        {{ page.title }}
      </h1>
    {{ page.content }}
  </section>
  <section class="panel list--container keywords">
    <section class="item--description">
      {% if page.supertitle %}
      <h3 class="title--inline">{{ page.supertitle }}</h3>
      {% endif %}
      <h2 class="title--inline">
        {{ page.title }}
      </h2>
      <section class="title--inline">
        {{ page.content }}
      </section>
    </section>
    <section class="list">
      <!-- <section class="list--label">
        Sections
      </section> -->
      {% for _, cluster in page.clusters %}
      <section class="list list--grid">
        <h3 class="list--title">{{ cluster.title }}</h3>
        {% for article in cluster.articles %}
          <section class="list-item" data-label="{{ article.title }}">
            <a class="list-item--link" href="{{ article.url }}">
              <span class="item--meta">{{ article.author }} • {{ article.date|strftime('%Y') }}</span>
              {{ article.title }}
            </a>
            <section class="list-item--illustration" style="{% if article.image %}background-image:url({{article.image}});{% if article.imageposition %}background-position:{{ article.imageposition }};{% endif %}{% endif %}">
            </section>
          </section>
        {% endfor %}
      </section>
      {% endfor %}
    </section>
  </section>
{% endblock %}