{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
<section class="side--navbar color--site">
  <a href="http://sarma.be/" class="title-label--left">sarma</a>
  <a href="{{ SITEURL }}/index.html" class="title-label--main">Conversations in Vermont</a>
  <a href="http://oralsite.be/" class="title-label--right">oralsite</a>
</section>
<section class="side--navbar color--sp">
  <a href="{{ SITEURL }}/{{ article.chapter.url }}" class="title-label--main">
    {{ article.chapter.title|replace("<br>", ", ") }}
  </a>
</section>
{% if article.cluster %}
<section class="side--navbar color--sp">
  <a href="{{ SITEURL }}/{{ article.cluster.url }}" class="title-label--main">
    {{ article.cluster.title|replace("<br>", ", ") }}
  </a>
</section>
{% endif %}
{% if article.audio %}
<section class="side--audio-player">
  <audio controls class="hidden" preload="metadata">
    {% for source, mime in article.audio %}
      <source src="{{ SITEURL }}/{{ source }}" type="{{ mime }}">
    {% endfor %}
  </audio>
  <section class="audio-player" data-playing="false" data-progress="">
    <section data-role="player--controls">
      <button data-role="play--pause" title="Play / pause audio recording"></button>
      <span data-role="current-time"></span>
      <span data-role="duration"></span>
    </section>
    <div data-role="track">
      <div data-role="progress">
        <div data-role="scrubber" title="Move to navigate in the audio"><span data-role="scrubber--label" class="scrubber--label"></span></div>
      </div>
      <span data-role="time-marker--start" class="time-marker time-marker--start"></span>
      <span data-role="time-marker--end" class="time-marker time-marker--end"></span>
    </div>
  </section>
</section>
{% endif %}
<section class="panel article">
  <section class="text">
    <h1>{{ article.title }}</h1>
    <section class="article--meta">
      {% if article.audio and article.audiolength %}
        <h3 class="article--audiolength">
          <button data-role="play--pause--article" title="Play / pause audio recording"></button>
          {{ article.audiolength.formatted }}
        </h3>
      {% endif %}
      {% if article.author %}
        <h3>
          {{ article.author }}
        </h3>
      {% endif %}
      {% if article.voices %}
        <h3>
          {% for name, initials in article.voices %}
            {% if not loop.first%}{% if loop.last %}& {% else %}, {% endif %}{% endif %}{{ name }}
          {% endfor %}
        </h3>
      {% endif %}
      {% if article.introduction %}
        <p id="tag1" class="introduction">
          {{ article.introduction }}
        </p>
      {% endif %}
      <h3>Recorded on {{ article.date|strftime('%d-%m-%Y') }}{% if article.location %}, {{ article.location }}{% endif %}</h3>
    </section>
    {{ article.content }}
  </section>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/lightbox.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/footnotes.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/player.js"></script>
<script>
  (function () {
    var audio = document.querySelector('audio'),
        player = document.querySelector('.audio-player'),
        article = document.querySelector('.article');

    if (audio && player) {
      togglePlaying = window.initPlayer(audio, player, article);
      article.querySelector('[data-role="play--pause--article"]').addEventListener('click', function (e) {
        e.preventDefault();
        togglePlaying();
      });
    }
  })();
</script>
{% endblock %}