{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
  {% if article.color %}
  <style>
    :root {
      --background-color: {{article.color}};
    }

    .footnote-backref-sup, .footnote-ref {
      display: inline-block;
      position: relative;
      bottom: .25em;
      font-size: 80%;
      text-decoration: none;
      margin-left: .1em;
      margin-right: .1em;
    }
    
    .inline-footnote::before {
      content: attr(data-num);
      position: absolute;
      right: calc(100% - 1.5em);
      font-size: 75%;
    }

    @media screen and (max-width: 600px ) {
      .inline-footnote::before {
        display: none;
      }
    }

    @media screen and (max-width: 1200px ) {
      .inline-footnote::before {
        right: calc(100% - .75em);
      }
    }


    .inline-footnote p:first-child {
      margin-top: 0;
    }
  </style>
  {% endif %}
{% endblock %}
{% block content %}
<section class="side--navbar color--site">
  <a href="http://sarma.be/" class="title-label--left">sarma</a>
  <a href="{{ SITEURL }}/index.html" class="title-label--main">Conversations in Vermont</a>
  <a href="http://oralsite.be/" class="title-label--right">oralsite</a>
</section>
<section class="side--navbar color--sp">
  <a href="{{ SITEURL }}/{{ article.chapter.url }}" class="title-label--main">
    {{ article.chapter.title|replace("<br>", ", ") }}
  </a>
</section>
{% if article.cluster %}
<section class="side--navbar color--sp">
  <a href="{{ SITEURL }}/{{ article.cluster.url }}" class="title-label--main">
    {{ article.cluster.title|replace("<br>", ", ") }}
  </a>
</section>
{% endif %}
{% if article.audio %}
<section class="side--audio-player">
  <audio controls class="hidden" preload="metadata">
    <source src="{{ SITEURL }}/{{ article.audio }}" type="audio/mp3">
  </audio>
  <section class="audio-player" data-playing="false" data-progress="">
    <section data-role="player--controls">
      <button data-role="play--pause"></button>
      <span data-role="current-time"></span>
      <span data-role="duration"></span>
    </section>
    <div data-role="track">
      <div data-role="progress">
        <div data-role="scrubber"><span data-role="scrubber--label" class="scrubber--label"></span></div>
      </div>
      <span data-role="time-marker--start" class="time-marker time-marker--start"></span>
      <span data-role="time-marker--end" class="time-marker time-marker--end"></span>
    </div>
  </section>
</section>
{% endif %}
<section class="panel article essay">
  <section class="text">
    <h1>{{ article.title }}</h1>
    <section class="article--meta">
      {% if article.audio and article.audiolength %}
        <h3>
          {{ article.audiolength.formatted }}
        </h3>
      {% endif %}
      {% if article.author %}
        <h3>
          {{ article.author }}
        </h3>
      {% endif %}
      {% if article.voices %}
        <h3>
          {% for name, initials in article.voices %}
            {% if not loop.first%}{% if loop.last %}& {% else %}, {% endif %}{% endif %}{{ name }}
          {% endfor %}
        </h3>
      {% endif %}
      {% if article.introduction %}
        <p id="tag1" class="introduction">
          {{ article.introduction }}
        </p>
      {% endif %}
    </section>
    {{ article.content }}
  </section>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/lightbox.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/footnotes.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/player.js"></script>
<script>
  (function () {
    var audio = document.querySelector('audio'),
        player = document.querySelector('.audio-player');

    if (audio && player) {
      window.initPlayer(audio, player);
    }
  })();
</script>
{% endblock %}