{% extends "base.html" %}
{% block pageclass %}home{% endblock %}
{% block content %}
  <section class="side--navbar color--site">
    <a href="http://sarma.be/" class="title-label--left">sarma</a>
    <span class="title-label--main"></span>
    <a href="http://oralsite.be/" class="title-label--right">oralsite</a>
  </section>
  <section class="panel main--panel--cover panel--toggleable">
    <section class="item--description">
      <h1>
        {{ page.title }}
      </h1>
      {{ page.content }}
    </section>
  </section>
  {% for key, chapter in chapters %}
    {% if chapter.frontpage == 'true' %}
    <section class="panel panel--cover" data-panel="{{ loop.index }}" {% if chapter.image %}style="background-image:url({{SITEURL}}/{{chapter.image}});{% if chapter.imageposition %}background-position:{{ chapter.imageposition }};{% endif %}"{% endif %}>
      <a href="{{ chapter.url }}" class="item--link">
        <!-- <h2>{{ chapter.title }}</h2>
          {% if chapter.clusters %}
          {{ chapter.clusters|count }} clusters
          {% else %}
          {{ chapter.articles|count }} interviews
          {% endif %}
          <p>
            {{ chapter.summary }}
          </p> -->
        <h3>
          {{ chapter.title }}
          {% if chapter.audiolength %} <span class="audio-length">({{ chapter.audiolength.formatted }})</span>{% endif %}
        </h3>
        {% if chapter.imagecaption %}
          <span class="image-caption">{{ chapter.imagecaption }}</span>
        {% endif %}
      </a>
    </section>
    {% endif %}
  {% endfor %} 
{% endblock %}
{% block scripts %}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/toggleable.js"></script>
{% endblock %}