{% extends "base.html" %}
{% block content %}
  <section class="side--navbar color--site">
    <a href="http://sarma.be/" class="title-label--left">sarma</a>
    <a href="{{ SITEURL }}/index.html" class="title-label--main">Conversations in Vermont</a>
    <a href="http://oralsite.be/" class="title-label--right">oralsite</a>
  </section>
  <section class="side--navbar color--sp">
    <a href="{{ SITEURL }}/{{ page.chapter.url }}" class="title-label--main">{{ page.chapter.title }}</a>
  </section>
  <section class="panel panel--illustration" style="{% if page.color %}background-color:{{page.color}};{% endif %}{% if page.image %}background-image:url({{SITEURL}}/{{page.image}});{% if page.imageposition %}background-position:{{ page.imageposition }};{% endif %}{% endif %}">
    {% if page.imagecaption %}
      <span class="image-caption">{{ page.imagecaption }}</span>
    {% endif %}
  </section>
  <section class="panel panel--main panel--toggleable">
    <section class="item--description">
      <h1>
        {{ page.title }}
      </h1>
      {{ page.content }}
    </section>
  </section>
  <section class="panel list--container keywords">
    <section class="list">
      <!-- <section class="list--label">
        Sections
      </section> -->
      {% for article in page.articles %}
        <section class="list-item--cover" style="{% if article.image %}background-image:url({{SITEURL}}/{{article.image}});{% if article.imageposition %}background-position:{{ article.imageposition }};{% endif %}{% endif %}">
          <a href="{{ SITEURL }}/{{ article.url }}" class="item--link">
            <h3>{{ article.title }}{% if article.audiolength %} <span class="audio-length">({{ article.audiolength.formatted }})</span>{% endif %}</h3>
            {% if article.summary %}{{ article.summary }}{% endif %}
          </a>
          <!-- <p>{{ article.summary }}</p> -->
        </section>
      {% endfor %}
    </section>
  </section>
{% endblock %}
{% block scripts %}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/toggleable.js"></script>
{% endblock %}