{% extends "base.html" %}
{% block pageclass %}chapter--lisa-nelson{% endblock %}
{% block content %}
  <section class="side--navbar color--site">
    <a href="http://sarma.be/" class="title-label--left">sarma</a>
    <a href="{{ SITEURL }}/index.html" class="title-label--main">Conversations in Vermont</a>
    <a href="http://oralsite.be/" class="title-label--right">oralsite</a>
  </section>
  <section class="panel panel--title" style="{% if page.image %}background-image:url({{SITEURL}}/{{page.image}});{% if page.imageposition %}background-position:{{ page.imageposition }};{% endif %}{% endif %}">
    {% if page.supertitle %}
    <h3>{{ page.supertitle }}</h3>
    {% endif %}
    <h1>
      {{ page.title }}
    </h1>
    {% if page.imagecaption %}
      <span class="image-caption">{{ page.imagecaption }}</span>
    {% endif %}
  </section>
  <section class="panel panel--main panel--toggleable">
    <section class="item--description">
      {% if page.supertitle %}
      <h3 class="title--inline">{{ page.supertitle }}</h3>
      {% endif %}
      <h1 class="title--inline">
        {{ page.title }}
      </h1>
      {{ page.content }}
    </section>
  </section>
  <section class="panel list--container">
    {% for _, cluster in page.clusters %}
      <section class="list list--simple">
        <h3 class="list--title">{{ cluster.title }}</h3>
        {% for article in cluster.articles %}
          <section class="list-item" data-label="{{ article.title }}">
            <a class="list-item--link" href="{{ SITEURL }}/{{ article.url }}">
              <span>
                {{ article.title }}
                <span class="item--meta">
                  {% if article.audiolength %}({{ article.audiolength.formatted }}){% endif %}
                  {{ article.date|strftime('%d-%m-%Y') }}
                </span>
              </span>
            </a>
          </section>
        {% endfor %}
      </section>
    {% endfor %}
    <section class="list list--simple humble">
      <section class="list-item" data-label="Text Anthology Lisa Nelson">
        <a class="list-item--link" href="{{ SITEURL }}/anthology-lisa-nelson/text-anthology-lisa-nelson.html">
          <h3>
            Text Anthology Lisa Nelson 
          </h3>
        </a>
      </section>
    </section>
    <section class="list list--simple humble">
      <section class="list-item" data-label="Text Anthology Lisa Nelson">
        <a class="list-item--link" href="{{ SITEURL }}/lisa-nelson/credits-lisa-nelson.html">
          <h3>
            Credits
          </h3>
        </a>
      </section>
    </section>
  </section>
{% endblock %}
{% block scripts %}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/toggleable.js"></script>
{% endblock %}
