{% extends "base.html" %}
{% block content %}
  <section class="side--navbar color--site">
    <a href="http://sarma.be/" class="title-label--left">sarma</a>
    <a href="{{ SITEURL }}/index.html" class="title-label--main">Conversations in Vermont</a>
    <a href="http://oralsite.be/" class="title-label--right">oralsite</a>
  </section>
  <section class="side--navbar color--sp">
    <a href="{{ SITEURL }}/{{ page.chapter.url }}" class="title-label--main">{{ page.chapter.title }}</a>
  </section>
  <section class="panel panel--illustration" style="{% if page.color %}background-color:{{page.color}};{% endif %}{% if page.image %}background-image:url({{SITEURL}}/{{page.image}});{% if page.imageposition %}background-position:{{ page.imageposition }};{% endif %}{% endif %}">
    {% if page.imagecaption %}
      <span class="image-caption">{{ page.imagecaption }}</span>
    {% endif %}
  </section>
  <section class="panel panel--main">
    <section class="item--description">
      <h1>
        {{ page.title }}
      </h1>
      {{ page.content }}
    </section>
  </section>
  <section class="panel" style="{% if page.color %}background-color:{{page.color}};{% endif %}{% if page.image %}background-image:url({{SITEURL}}/{{page.image}});{% if page.imageposition %}background-position:{{ page.imageposition }};{% endif %}{% endif %}">
  </section>
{% endblock %}