#canvas {
  display: grid;
  grid-template-columns: [left] 1fr [right] 1fr;
  grid-template-rows: [start] repeat(auto-fill, 150px) [end];
  grid-gap: 1.5em;
  grid-auto-flow: column;
  background: #e4e4e4;
  padding: 2em 0 2em 2em;
}

#canvas > section {
  position: relative !important;
  top: 0;
  left: 0;
}

.introduction {
  grid-row-start: start;
  grid-row-end: end;
}

#canvas > section > .wrapper {
  width: initial;
  height: calc(100% - 2em);
  outline: none;
  padding: 1em;
}

#canvas > section.introduction > .wrapper {
  background: transparent;
}

.cluster {
  grid-column-start: right;
}

h1 {
  font-family: monospace;
}

h2 {
  font-family: 'news cycle';
}

p {
  font-family: 'news cycle';
  font-size: 16pt;
}

.introduction p {
  font-family: monospace;
}

h1 + p {
  margin-top: 1em;
}

@media screen and (max-width: 800px) {
  #canvas {
    grid-template-columns: [left right] 1fr;
    grid-template-rows: [start] repeat(auto-fill, minmax(150px, 1fr)) [end];
  }
  
  .introduction {
    grid-column-start: left;
    grid-row-start: start;
    grid-row-end: span 1;
  }
}