@font-face {
  font-family: Fluxisch;
  src: url(fonts/webfonts/FluxischElse-Regular.woff);
}

@font-face {
  font-family: Happy;
  src: url(fonts/happy-times-at-the-ikob-webfont.woff);
}

@font-face {
  font-family: spacetext;
  src: url(fonts/SpaceText/SpaceText-Regular.woff);
}

@font-face {
  font-family: AlikeAngular;
  src: url(fonts/Alike_Angular/AlikeAngular-Regular.ttf);
}

@font-face {
  font-family: Alike;
  src: url(fonts/Alike_Angular/Alike-Regular.ttf);
}

@font-face {
  font-family: Proza;
  src: url(fonts/Proza_Libre/ProzaLibre-Regular.ttf);
}

@font-face {
  font-family: SneakyTimes;
  src: url(fonts/sneakyTimes/Sneaky-Times.otf);
}

@font-face {
  font-family: Selectric;
  src: url(fonts/selectric/OTF/SelectricRoman.otf);
}

@font-face {
  font-family: Porpora;
  src: url(fonts/porpora/Porpora-Regular.woff2) format("woff2"), url(fonts/porpora/Porpora-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'News Cycle';
  src: url(fonts/news\ cycle/newscycle-regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'News Cycle';
  src: url(fonts/news\ cycle/newscycle-bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Necto Mono';
  src: url(fonts/necto-mono/Necto-Mono.woff2) format('woff2'),
       url(fonts/necto-mono/Necto-Mono.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

body {
  background: #f4f4f4;
  font-family: 'News Cycle';
  padding-top: 50px;
}

.text {
  width: 55vw;
  margin: 0 auto;
}

.line {
  height: 1500vh;
  position: absolute;
  border-left: 3px solid black;
  transform: translate(39px, 9px);
  left: calc(10vw - 1.5px);
  top: 0;
}

#tag1 {
  font-weight: italic;
}

#cite-nav {
  float: left;
  display: block;
  /*position: fixed;*/
  top: 12px;
  bottom: 12px;
  left: 0;
  width: 32px;
}

.cite-anchor {
  position: absolute;
  right: 0;
  left: 5vw;
  width: 15vw;
  display: block;
  text-align: center;
}

div.cite-anchor a {
  padding: 10px;
  background-color: white;
  color: black;
  font-family: fluxisch, Ume P Gothic Vertical, ;
  text-decoration: none;
  font-size: 10pt;
  font-family: 'Necto Mono';
  letter-spacing: .15em;
}

p {
  /*font-family: Alike;*/
  /*font-family: AlikeAngular;*/
  /*font-family: spacetext;*/
  /*font-family: Eczar;*/
  /*font-family: Work Sans;*/
  /*font-family: Gentium Basic;*/
  /*font-family: Libre Baskerville;*/
  /*font-family: Proza;*/
  /*font-family: SneakyTimes;*/
  /*font-family: Selectric;*/
  /* font-family: 'News Cycle'; */
  /* font-weight: medium; */
  font-size: 18pt;
  line-height: inherit;
  color: #312121;
  hyphens: auto;
  /*! font-family: 'Porpora'; */
}

p.introduction {
  font-family: 'Necto Mono';
  font-size: 16.5pt;
  line-height: 25pt;
  hyphens: none;
}

p#tag1 {
  margin-top: 5pt;
}

span, a, a:visited {
  border-bottom: 1px solid;
  border-bottom-style: dotted;
  font-style: italic;
  text-decoration: none;
  color:black;
}

p.sp {
  /*! margin-left: 30pt; */
}

p.mvi {
  /*! font-style: italic; */
  /*! margin-left: 2em; */
}

p.sp:before {
  content: 'SP';
  position: absolute;
  left: 0;
  font-size: 14pt;
  border-bottom: 1px dotted rgb(100, 100, 100);
  right: 0;
  padding-left: 5vw;
  font-family: 'Necto Mono';
  line-height: 37px;
}

p.sp + p.sp:before {
	display: none;
}

p.mvi:before {
  content: 'MVI';
  position: absolute;
  left: 5vw;
  font-style: normal;
  font-size: 14pt;
  border-bottom: 1px dotted rgb(150,150,150);
  left: 0;
  right: 0;
  padding-left: 5vw;
  font-family: 'Necto Mono';
  line-height: 37px;
}

p.te:before {
    content: 'TE';
    position: absolute;
    left: 0;
    font-size: 14pt;
    border-bottom: 1px dotted rgb(100, 100, 100);
    right: 0;
    padding-left: 5vw;
    font-family: 'Necto Mono';
    line-height: 37px;
}

h1 {
  /*font-family: fluxisch;*/
  /*font-family: Alike;*/
  /*font-family: AlikeAngular;*/
  /*font-family: spacetext;*/
  /*font-family: Eczar;*/
  /*font-family: Work Sans;*/
  /*font-family: Gentium Basic;*/
  /*font-family: Libre Baskerville;*/
  /*font-family: Proza;*/
  /*font-family: SneakyTimes;*/
  /* font-family: Selectric; */
  margin-top: 80pt;
  line-height: 12pt;
  font-size: 40pt;
  font-family: 'Necto Mono';
  /* font-family: 'Porpora'; */
  font-weight: normal;
  letter-spacing: .015em;
  text-rendering: optimizeLegibility;
}

h2 {
  /* font-family: fluxisch; */
  font-family: 'Necto Mono';
  font-weight: normal;
  font-size: 17pt;
  line-height: 19pt;
  width: 98%;
  font-weight: normal;
}

h3 {
  font-family: 'Necto Mono';
  color: black;
  font-size: 10pt;
  line-height: 28pt;
  margin: 0;
  font-weight: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  font-style: italic;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: rgb(255, 255, 200);
  color: black;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  left: 10%;
  float: left;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  position: fixed;
}

input.timeline {
  transform-origin: top left;
  transform: rotate(90deg) translate(-264px, 80px);
  width: 2200vw;
  float: left;
  /* transform: translate(10px, 10px); */
  /* top: 1px; */
  /* position: fixed; */
  z-index: -20;
}


audio {
  width: 100vw;
}

#float-right {
    height: 100%;
    float: right;
    position: fixed;
    right: 0;
    overflow: scroll;
    background-color: white;
    margin:0;
    top:0;
    z-index: 10;
    border-left: 3px solid black;
    width: 15vw;
    display: none;
}

#float-right p {
    font-size: 11pt;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

body {
  margin: 0;
}

.clusterintro a {
  display: block;
}

@media only screen and (max-width: 600px) {
 #float-right {
    width: 100%;
    float: right;
    position: fixed;
    right: 0;
    overflow: scroll;
    background-color: white;
    margin: 0;
    bottom: 0;
    z-index: 10;
    border-left: 3px solid black;
    height: 20vh;
}
}


/*SLIDERBAR*/

.element {
    display: inline-block;
    width: fit-content;
    /* height: 70%; */
    /* border: 1px solid black; */
    padding: 10pt;
}

.element h1 {
    margin: 0 auto;
    /* line-height: 0; */
    font-size: 20pt;
    text-align: center;
}

.element p {
    text-align: left;
    background-color: grey;
    display: inline-block;
    border: 1 px solid black;
    /*height: 50px;*/
    width: 200px;
    margin: 0;
    margin-top: 20pt;
    /* width: auto; */
}

#audio {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw;
    position: fixed;
    bottom: 0;
    margin: 0;
    background-color: white;
    z-index: 100;
    height: 16vh;
}

#clusterindex {
    float: right;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
    /* white-space: nowrap; */
    width: 45vw;
    /* position: fixed; */
    bottom: 0;
    margin: 0;
    z-index: 100;
    height: 16vh;
}

.clusterintro {
  float: left;
  width: 45vw;
  position: fixed;
  margin-left: 30px;
}

#clusterindex .element {
  text-align: left;
  width: 45vw;
  background-color: white;
  margin: 10px;
  padding: 35pt;
}

#clusterindex .element p {
 
  background-color: white;

}

.element span {
  display: block;
  border-bottom: none;
  border-bottom-style: ;
  font-style: italic;
  text-decoration: none;
  color:black;
  line-height: 0;
  margin-top: 10pt;
}

.nogrey {
  background-color: ;
  font-size: 18pt !important;
    line-height: inherit;
    color: #312121;
    border-bottom: none;
    font-style:normal;
    text-decoration: none;
    color: black;
}


#navbar {
  background-color: darkgrey;
  position: fixed;
  bottom: 0;
  display: block;
  transition: bottom 0.3s;
  overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw;
    z-index: 10;
}

#float-right span{
  border-bottom: none;
  display: none;
}