:root {
  --font-size: 16pt;
  --line-height: 22pt;
  --font-size-side-note: 14pt;
  --font-size-small: 11pt;
  --font-size-audio-numbers: 9pt;
  /* --track-color: #efefef; */
  /* --progress-color: #fd7f2c; */
  --scrubber-color: black;  
  /* --highlight-color: rgb(179, 245, 117); */
  --highlight-color: #fd7f2c;
  --background-color: #f5f8ff;
  --background-color: hsl(0, 0%, 96.5%);
}

.color--site {
  /* --highlight-color: rgb(179, 245, 117); */
  --highlight-color: #f5f8ff;
}

.color--sp {
  --highlight-color: #fb6b49ff;
  /* --highlight-color: rgb(255, 242, 239);; */
}

.color--ln {
  --highlight-color: #ffec5aff;
}

@font-face {
  font-family: 'News Cycle';
  src: url(fonts/news\ cycle/newscycle-regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'News Cycle';
  src: url(fonts/news\ cycle/newscycle-bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

body {
  overflow: hidden;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: 'News Cycle';
}

h1 { 
  font-size: 15.5pt;
  font-weight: bold;
  margin: var(--line-height) 0;
}

h1:first-child {
	margin-top: 0;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: var(--font-size-small);
  font-weight: bold;
}

div#flex-right {
  flex: 1 0;
  overflow: auto;
}

div.center-text {
    transform: translate(78px, -5px);
    height: 100vh;
    /* border: 1px solid; */
    margin: 0 auto;
    padding-top: 50vh;
    text-align: center;
}

div.center-text span {
  width: 148px;
  transform: rotate(90deg);
  position: absolute;
  margin: 0 auto;
  color: white;
  font-size: 14pt;
  }

[data-view] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

[data-view][data-active] {
  display: flex;
}

[data-view] > section {
  flex-direction: column;
  /* padding: 80pt; */
  flex: 1 0;
  overflow-y: auto;
  /* outline: 1px solid black; */
  /* padding: 1em; */
}


.panel--right {
  /* background: rgb(154, 156, 255); */
  display: flex;
  flex-direction: column;
}

.item--preview {
  position: relative;
  padding: 15pt 30pt 30pt 50pt;
  flex: 1 0;
  outline: 2px solid black;
  background: white;
  padding-left: 50pt;
}

.item--preview:before {
  content: attr(data-label);
  position: absolute;
  top: 0px;
  left: 2px;
  bottom: 0;
  width: 19pt;
  writing-mode: tb;
  font-size: var(--font-size-small);
  text-align: center;
  transform: rotate(180deg);
  outline: 2px solid black;
  font-weight: bold;
  /*! padding-left: 50pt; */
  /*! letter-spacing: .5px; */
  line-height: 16pt;
}
  
.item--preview:after {
  content: ">";
  position: absolute;
  top: 16pt;
  right: 15pt;
  font-weight: bold;
  font-size: var(--font-size-small);
}

.item--preview h1,
.item--preview h2 {
  display: none;
}

.item--preview:hover {
  background: var(--highlight-color);
}
/* 
.item--preview:nth-of-type(1) {
  border-left: 30px solid #ffec5a;
}

.item--preview:nth-of-type(2) {
  border-left: 30px solid #ffec5a;
}

.item--preview:nth-of-type(3) {
  border-left: 30px solid #ffec5a;
}

.item--preview:nth-of-type(4) {
  flex: 1 0;
  border-left: 30px solid #3F51B5;
} */

/* .item--preview:hover {
  background: rgb(241, 241, 253);
}

.item--preview:nth-of-type(1) {
  border-left: 30px solid hsla(53, 100%, 91%, 1);
}

.item--preview:nth-of-type(2) {
  border-left: 30px solid hsla(53, 100%, 81%, 1);
}

.item--preview:nth-of-type(3) {
  border-left: 30px solid rgb(181, 182, 255);
}

.item--preview:nth-of-type(4) {
  flex: 1 0;
  border-left: 30px solid rgb(140, 142, 247);
} */

[data-target-view] {
  cursor: pointer;
}

section.side--navbar {
  flex: 0 0 18pt;
  transition: flex .25s;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  writing-mode: tb;
  text-align: center;
  transform: rotate(180deg);
  font-size: var(--font-size-small);
  outline: 2px solid black;
  background: white;
  font-weight: bold;
  line-height: 16pt;
  /*! letter-spacing: .5px; */
}

section.side--navbar:hover {
  /* flex: 0 0 60px; */
  /* transition: flex .25s; */
  /* background: white;. */
  background-color: var(--highlight-color);
}

.item--description {
  padding: 15pt 30pt 30pt 30pt;
  max-width: 38em;
  /*! margin: auto; */
}

.panel--left,
.panel--interview {
  background: var(--background-color);
}

/* .chapter--navbar {
  background: #3F51B5;
}

.chapter--navbar:hover {
  background: rgb(104, 117, 189);
}

.cluster--navbar {
  background: rgb(180, 181, 248);
}

.cluster--navbar:hover {
  background: rgb(192, 193, 250);
}

.text--navbar {
  border-left: 1px solid;
  border-right: 1px solid;
  height: 33vh;
} */

.text--navbar:hover {
  /*background: rgb(231, 231, 252);*/
}

.cluster--navbar {
  /* border-right: 1px solid; */
  /*background: #beedd0ff;*/
}

.cluster--navbar:hover {
  /*background: #ebebeb;*/
} */

.side--navbar--item {
  border-bottom: solid 1px white;
}

.side--navbar-item {
  flex: 1 0;
  border-top: 1px solid white;
}

.side--navbar-item:hover {
  background: rgba(255,255,255,.5);
}

audio.hidden {
  display: none;
}

.audio-player {
  min-width: 80px;
}

section.side--audio-player {
  flex: 0 0 60px;
  position: relative;
  overflow: initial;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-size: var(--font-size-audio-numbers);
  font-weight: bold;
}

[data-role="player--controls"] {
  position: absolute;
  top: 0;
  /* line-height: 35pt; */
  left: 0;
  right: 0;
  border-bottom: 2px solid black;
  z-index: 10;
  height: calc(var(--line-height) * 1.25);
}

[data-role="player--controls"] button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  border: 0;
  width: 100%;
  padding: 0 .5em;
  text-align: left;
  color: black;
}

[data-role="play--pause"]:hover {
  background-color: var(--highlight-color);
  /* background-color: var(--highlight-color); */
}

[data-role="play--pause"]:before {
  display: block;
  content: '‣ play';
  font-weight: bold;
}

[data-playing="true"] [data-role="play--pause"]:before {
  content: '⏸ pause';
}

[data-role="track"] {
  position: absolute;
  top: calc(var(--line-height) * 1.25);
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-color);
}

[data-role="progress"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background: var(--highlight-color);
}

[data-role="scrubber"] {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to bottom, white 1px, var(--scrubber-color) 1px, var(--scrubber-color) 3px, white 3px);
  cursor: ns-resize;
  z-index: 1;
}

.track--bookmark {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dotted black;
  cursor: pointer;
  padding: .25em .5em;
  letter-spacing: .5px;
}

.track--bookmark:hover {
  text-decoration: underline;
}

.track--bookmark--timecode {
  margin-right: .25em;
  /*font-family: 'News Cycle'*/
}

.audioMarkers {
  display: none;
}

.scrubber--label,
.time-marker {
  position: absolute;
}

.time-marker {
  left: .5em;
}

.scrubber--label {
  left: calc(100% + .5em);
  top: -1.15em;
}

.time-marker--start {
  top: .15em;
  display: none
}

.time-marker--end {
  bottom: .15em;
}

[data-role="scrubber"][data-scrubbing="true"] .scrubber--label {
  display: block;
}

[data-role="current-time"], [data-role="duration"] {
  display: none;
}

.text {
  max-width: 36em;
  margin: auto;
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding-left: 5em;
  padding-right: 9em;
}

.introduction, #flex-right h3, #flex-right h2, .quote {
  /*font-family: 'TruenoRegular';*/
  /*font-family: para;*/
  /*font-family: wremena;*/
  /*font-family: AbhayaLibre;*/
  /*font-family: ArbutusSlab;*/
  /*font-family: PTSerif;*/
  /*font-family: Minipax;*/
  /*font-family: 'Oswald', sans-serif;*/
  /*font-family: 'Abhaya Libre', serif;*/
  font-family: news cycle;
}

.introduction {
  font-weight: bold;
}

.quote {
    /* font-family: 'Necto Mono'; */
    font-size: 33px;
    line-height: 46px;
    margin: 48px 0;
    padding: 32px 16px 34px;
    display: block;
    /* font-style: italic; */
    width: 75%;
}

#flex-right h3 {
  padding-top: 10px;
  /* line-height: 14pt; */
  font-size: 13pt;
  margin: 0;
  /* position: absolute; */
  left: 2%;
  text-indent: 0;
  color: rgb(148, 161, 149);
}

#flex-right h2 {
  
}

p + p,
.sidenote-right + p {
  margin-top: var(--line-height);
}

#flex-right h1 {
    margin-bottom: 7px;
    /* font-family: fluxisch; */
    /* font-family: Alike; */
    /* font-family: AlikeAngular; */
    /* font-family: spacetext; */
    /* font-family: Eczar; */
    /* font-family: Work Sans; */
    /* font-family: Gentium Basic; */
    /* font-family: Libre Baskerville; */
    /* font-family: Proza; */
    /* font-family: SneakyTimes; */
    /* font-family: Selectric; */
    margin-top: 70pt;
    line-height: 35pt;
    font-size: 35pt;
    /* font-family: 'Necto Mono'; */
    /* font-family: 'Porpora'; */
    font-weight: bold;
    letter-spacing: .015em;
    text-rendering: optimizeLegibility;
    position: sticky;
    top: 0;
}

/*#flex-right p {
  font-size: var(--font-size);
  line-height: var(--line-height);
}*/

p.mvi:before {
    /* border-bottom: 2px solid rgb(255, 233, 111); */
    /* font-style: italic; */
    content: 'myriam';
    position: absolute;
    right: calc(100% + 1em);
    /*! text-transform: uppercase; */
    /* font-style: normal; */
    font-size: 10pt;
    /* border-bottom: 1px solid #000000; */
    /* left: 0; */
    /* right: 0; */
    /* padding-left: 5vw; */
    /* font-family: 'Necto Mono'; */
    line-height: 37px;
}

p.mvi:nth-of-type(1):before {
  content: 'myriam';
}

p.sp:before:nth-of-type(1) {
  content: 'STEVE';
}

p.sp:before {
    margin: 0;
    /* background: rgb(255, 233, 111); */
    /* font-style: italic; */
    content: 'steve';
    /*! text-transform: uppercase; */
    position: absolute;
    right: calc(100% + 1em);
    font-size: var(--font-size-small);
    /* border-bottom: 2px solid rgb(255, 233, 111); */
    /* right: 0; */
    /* padding-left: 5vw; */
    /* font-family: 'Necto Mono'; */
    line-height: 37px;
}

p.sp:before, p.mvi:before, #flex-right h3 {
  color: #5e5e5e;
} 

span.brackets {
    font-size: 14pt;
    color: rgb(148, 161, 149);
    /* position: absolute; */
    /* left: 3%; */
    /* text-transform:; */
}

.sidenote-right {
    /* position: absolute; */
    float: right;
    /* color: rgb(154, 156, 255); */
    right: 0;
    margin-left: 3em;
    margin-right: -150px;
    padding-right: 2em;
    margin-bottom: 2em;
    width: 300px;
    margin-top: calc(2 * var(--line-height) - 15.5pt);
    /* border-left: 9px solid rgb(148, 161, 149); */
    /* padding-left: 20pt; */
    /*! letter-spacing: 0.05em; */
    font-size: var(--font-size-small);
    line-height: 15.5pt;
    font-weight: bold;
}

.sidenote-right img {
    width: calc(100% + 2em);
    margin-bottom: 10px;
}

.clusterintro2 {
  position: relative;
  /* width: 100vw; */
}

.cite-anchor {
    transform: translate(0px, calc(.5 * var(--line-height)));
    /*! margin-left: 33pt; */
    /*! padding-bottom: 4pt; */
    border-bottom: 1px dotted #5e5e5e;
    position: absolute;
    right: 0;
    color: black;
    left: 0;
    /*! width: 100%; */
    display: block;
    text-align: left;
}

div.cite-anchor a {
    text-decoration: none;
    padding: 0 1em;
    background-color: var(--background-color);
    font-size: var(--font-size-audio-numbers);
    letter-spacing: .15em;
    color: #5e5e5e;
    position: absolute;
    left: 3em;
    top: calc(-.5 * var(--line-height));
    z-index: 0;
    font-weight: bold;
}

h1, p {
  direction: ltr;
}

span.go {
    position: absolute;
    right: 0%;
    font-size: 50pt;
    top: 50%;
    direction: ltr;
}

span.go1 {
    position: absolute;
    right: 2%;
    font-size: 50pt;
    top: 50%;
    direction: ltr;
}

p {
  position: relative;
}

p + p,
div.cite-anchor + p{
  margin-top: var(--line-height);
}

@media screen and (max-width: 950px) {
  .sidenote-right {
    width: 200px;
    margin-right: -100px;
  }

  .text {
    padding-left: 5em;
    padding-right: 6em;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow: auto;
  }

  [data-view][data-active] {
    display: block;
    position: relative;
  }

  .item--preview:before {
    top: 0px;
    left: 0px;
    right: 0;
    width: initial;
    height: 19pt;
    writing-mode: initial;
    transform: initial;
  }

  .item--preview {
    padding: var(--line-height) 15pt 15pt 15pt;
  }

  .item--preview h1,
  .item--preview h2 {
    display: none;
  }

  [data-view] > section {
    overflow-y: initial;
  }

  section.side--navbar {
    writing-mode: initial;
    display: block;
    transform: initial;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    outline: none;
    border-bottom: 2px solid black;
    height: 19pt;
  }

  /* section.side--navbar:nth-of-type(2) {
    top: calc(19pt + 2px);
  }

  section.side--navbar:nth-of-type(3) {
    top: calc(38pt + 4px);
  } */

  section.item--description {
    padding: calc(var(--line-height) - (19pt + 2px)) 15pt 15pt 15pt; 
  }

  .item--description h1 {
    display: none;
  }


  .item--description :nth-child(n+4) {
    display: none;
  }
  
  .item--preview:after {
    content: ">";
    position: absolute;
    top: -3pt;
    font-weight: bold;
    font-size: var(--font-size-small);
  }
}